.p-confirm-wrap .touching {
  background-color: aliceblue;
}
.p-confirm-wrap .state {
  text-align: center;
  line-height: 1.5;
}

/*淡入淡出*/
.fade-enter-active {
  transition: opacity .2s;
}

.fade-leave-active {
  transition: opacity .1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.p-confirm-cover {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-confirm-wrap .confirm {
  box-sizing: border-box;
  position: fixed;
  z-index: 1100;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 300px;
  background-color: white;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.p-confirm-wrap .confirm-title {
  text-align: center;
  font-size: 18px;
  line-height: 2;
  padding: 5px 10px 0 10px;
}

/*按钮*/
.p-confirm-wrap .btn-wrap {
  margin-top: 10px;
  font-size: 0;
  overflow: hidden;
}

.p-confirm-wrap .btn-wrap::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  transform: scaleY(.5);
}

.p-confirm-wrap .btn-sure, .p-confirm-wrap .btn-cancel {
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 14px;
  line-height: 3;
  overflow: hidden;
}
.p-confirm-wrap .btn-sure:hover {
  background-color: aliceblue;
}
.p-confirm-wrap .btn-cancel:hover {
  background-color: aliceblue;
}
